* {
    margin: 0;
    padding: 0;
}

.site {
    display: grid;
    grid-template: repeat(7, auto) / repeat(3, 1fr);
}

.task {
    border: 1px solid #000;
    text-align: center;
}

.task h3 {
    margin-bottom: 10px;
}

.task p {
    margin: 10px 0;
}

.task7 {
    grid-area: 2/3;
}

.task9 {
    grid-area: 3/1;
}

.task11 {
    grid-area: 3/2;
}

.task14 {
    grid-area: 3/3;
}

.task12 {
    grid-area: 4/1;
}

.task13 {
    grid-area: 4/2;
}

.task8 {
    grid-area: 4/3;
}

.task15 {
    grid-row-start: 5;
    grid-column: 1/4;
}

.task15 table {
    margin: 0 auto;
}

.task15 table td {
    border: 1px solid #000;
}

.task17 {
    grid-area: 6/1;
}
.task10 {
    grid-area: 6/2;
}
.task16 {
    grid-area: 6/3;
}

.task18 p {
    padding: 10px;
    text-align: left;
}

